<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <context-param>
        <param-name>jsp-inheritance-prefix</param-name>
        <param-value>/WEB-INF/layouts/</param-value>
    </context-param>

    <context-param>
        <param-name>jsp-inheritance-suffix</param-name>
        <param-value>.jsp</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>available_phone_numbers.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>available-phone-numbers</servlet-name>
        <servlet-class>com.twilio.calltracking.servlets.phonenumbers.AvailableServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.twilio.calltracking.servlets.DashboardServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>calltracking-forwardcall</servlet-name>
        <servlet-class>com.twilio.calltracking.servlets.calltracking.ForwardCallServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>leadsources-create</servlet-name>
        <servlet-class>com.twilio.calltracking.servlets.leadsources.CreateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>leadsources-edit</servlet-name>
        <servlet-class>com.twilio.calltracking.servlets.leadsources.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>available-phone-numbers</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/phone-numbers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>calltracking-forwardcall</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>leadsources-create</servlet-name>
        <url-pattern>/leadsources-create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>leadsources-edit</servlet-name>
        <url-pattern>/leadsources-edit</url-pattern>
    </servlet-mapping>


</web-app>
